<div class="container outcome-edit">
  <h1 class="text-center mt-4">支出</h1>
  <%= form_with url: "/outcome/1", local: true do |f| %>

      <%= f.label :タイトル %>
      <%= f.text_field :title %>



      <%= f.label :日時 %>
      <%= f.datetime_select :start_time %>


      <%= f.label :収入金額%>
      <%= f.number_field :money %>

      <%= f.label :収入項目%>
      <%= f.collection_select(:series, @out_series, :id, :name )%>


      <%= f.label :コメント %>
      <%= f.text_field :content %>

      <%= f.submit "保存する", class: "btn btn-primary"%>

  <% end %>

</div>
