<section class="bg-light">
  <div class="container main-top">

    <div class="row">

      <div class="col-md-6">
        <a type="button" href="/income" class="btn btn-warning rounded-circle btn-lg">収入を記録する</a>
      </div>
      <div class="col-md-6">
        <a type="button" href="/outcome" class="col-md-6 btn btn-primary output">支出を記録する</a>
      </div>

      <div class="container mt-5 text-center">
        <table class="center mx-auto">
          <thead>
  
          </thead>

          <tbody>
            <% @blogs.each do |blog| %>
              <tr>

                <td><%= link_to '詳細', blog %></td>
                <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
                <td><%= link_to '削除',blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= month_calendar events: @blogs do |date, blogs| %>
          <%= date.day %>

          <% blogs.each do |blog| %>
            <div>
              <%= link_to blog.title, blog %>
            </div>
          <% end %>
        <% end %>
      </div>




    </div>

    <div class="output">

    </div>

  </div>
</section>
