<div class="login">
  <div class="container text-center pt-4">
    <h1>ログイン画面</h1>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.label :メールアドレス, {class: 'mt-5'} %>
      <%= f.email_field :email, class: 'form-control mx-auto w-50'%>

      <%= f.label :パスワード, {class: 'mt-5'}%>
      <%= f.password_field :password, class: 'form-control mx-auto w-50' %>

      <%= f.submit "ログイン", class: 'mt-5 btn btn-primary w-25'%>
    <% end %>
    <p>登録はお済みですか?<a href="/users/new"><span class="text-success">新規登録</span></a></p>
  </div>
</div>
