<div class="container all">
  <h1>プロフィール</h1>
  <div class="row profile-top">
    <div class="col-md-4">

      <%= gravatar_for @user %>
    </div>
    <div class="col-md-8 profile-main">
      <h5>
        <div class="profile-name">
          名前:<%= @user.name %>
        </div>
        <div class="profile-email">
          メールアドレス:<%= @user.email %>
        </div>
        <div class="profile-money">
          今月使えるお金:<%= @total %>円
        </div>

      </h5>

    </div>

  </div>
  <div class="row profile-moneys">
    <div class="col-md-6">
      <table class="table">
        <h2>収入内訳</h2>
        <thead>
          <tr>
            <th>収入</th>
            <th>種別</th>
          </tr>
        </thead>
        <tbody>
          <% @incomes.each do |income| %>
            <tr>
              <td><%=income.money%></td>
              <td><%=InputType.find(income.series).name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <h2>支出内訳</h2>
        <thead>
          <tr>
            <th>支出</th>
            <th>種別</th>
          </tr>
        </thead>
        <tbody>
          <% @outcomes.each do |outcome| %>
            <tr>
              <td><%= outcome.money %></td>
              <td><%= OutputType.find(outcome.series).name %></td>
            </tr>
          <% end%>

        </tbody>
      </table>
    </div>

  </div>
</div>
