<div class="container all">
  <h1>プロフィール</h1>
  <div class="row profile-top">
    <div class="col-lg-4">

      <%= gravatar_for @user %>
    </div>
    <div class="col-lg-8">
      <h5>
        <div class="profile-name mt-3">
          名前:<%= @user.name %>
        </div>
        <div class="profile-email mt-3">
          メールアドレス:<%= @user.email %>
        </div>
        <div class="profile-money mt-4">

          <%= "今月使えるお金:#{@total}\n" %>


        </div>

      </h5>

    </div>


    </div>
    <div class="row">

      <div class="col-lg-6 offset-lg-3 mt-5">
        <%= link_to("内訳を確認", "/moneys/#{@user.id}", class: "btn btn-danger btn-lg") %>
      </div>


  </div>
</div>
